*
{
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    text-decoration: none;
    background: none;
    outline: none;
    -moz-box-sizing: border-box; 
    -webkit-box-sizing: border-box; 
     box-sizing: border-box; 
    -webkit-appearance: none;
    font-family: "Raleway", sans-serif ;
    
} 
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

body
{
    height: 100%;
}
.container
{
    display: grid;
    grid-template-rows: repeat(3, min-content);
}

.headerContainer
{
    grid-row: 1 / 2;
    background-color: rgb(0, 0, 0);
    min-height: 100px;
    height: 15vh;
    max-height: 15vh;
    overflow: hidden;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    filter: drop-shadow(0px 0px 10px rgba(56, 10, 10, 0.541));
}
.headerTitle
{
    position: absolute;
}
h1
{
    font-size: 4em;
    font-weight: bold;
    color: rgb(255, 255, 255);
    filter: drop-shadow(0px 10px 5px rgba(46, 25, 15, 0.616));
}

.headerImg
{
    padding-top: 920px;
}


.mainContainer
{
    grid-row: 2 / 3;
    background-color: rgb(221, 160, 90);
    display: grid;
    grid-template-columns: 3fr 1fr;
    min-height: 80vh;
}


.booksContainer
{
    grid-column: 1 / 2;
    padding: 50px;
    display: grid;
    grid-auto-rows: repeat(auto-fill, minmax(350px, 1fr));
    grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
    grid-gap: 40px
}

div[class^="cardContainer"]
{
    
    display: flex;
    flex-direction: column;
    border: 5px solid rgb(255, 255, 255);
    border-radius: 5%;
    width: 200px;
    height: 300px;
    font-size: 25px;
    justify-content: space-between;
    background-color: rgb(255, 152, 56);
    filter: drop-shadow(7px 7px 2px rgba(46, 25, 15, 0.301));
}

.cardTextContainer
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
    height: 100%;
    
}

.cardUpperText
{
    font-size: 20px;
}
.cardLowerText
{
    font-size: 25px;
    font-weight: bold;
}

.cardOptions
{
    display: flex;
    justify-content: space-evenly;
    height: 50px;
}

.cardRead
{
    display: flex;
    width: 50%;
    justify-content: center;
    align-items: center;
}
.cardRead>button
{
    color: white;
    cursor: pointer;
    height: 100%;
    width: 100%;
}

.cardDelete
{
    display: flex;
    background-color: rgb(231, 103, 18);
    width: 50%;
    justify-content: center;
    align-items: center;
}
.cardDelete>button>img
{
    width: 40%;
    position: relative;
    top: 3px;
}

.cardDelete>button
{
    width: 100%;
}
.cardDelete>button:hover
{
    transform: scale(1.1);
    cursor: pointer;
}

.sideContainer
{
    grid-column: 2 / 3;
    background-color: rgb(235, 135, 20);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.infoList
{
    display: flex;
    flex-direction: column;
    color: white;
    font-size: 30px;
    height: 30%;
    min-height: 100px;
    gap: 15px;
    padding-top: 30px;
    padding-left: 40px;
}
.addBookForm
{
    display: flex;
    flex-direction: column;
    color: white;
    font-size: 20px;
    
    min-height: 200px;
    gap: 20px;
    padding-top: 30px;
    padding-left: 40px;
}
label{
    color: white;
}

#author, #title, #pages
{
    border: 2px solid rgb(199, 115, 20);
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    height: 30px;
    width: 60%;
    padding-left: 20px;
}
.readContainer
{
    display: flex;
    align-items: center;
    gap: 20px;
}

#readCheckbox
{
    height: 20px;
    width: 20px; 
    border-radius: 5px;
    border: 2px solid rgb(255, 255, 255);
    background-color: rgb(255, 171, 74);
    cursor: pointer;
}

#readCheckbox:checked
{
    background-color: rgb(255, 130, 13);
    background-image: url(./images/check.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 20px;
}
#newBookForm
{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.addBookButton
{
    border: 2px solid rgb(255, 255, 255);
    font-size: 30px;
    border-radius: 10px;
    text-align: center;
    padding: 5px;
    width: 200px;
    background-color: rgb(255, 174, 0);
    cursor: pointer;
}
.addBookButton>button
{
    cursor: pointer;
}
.addBookButton:hover
{
    background-color: rgb(255, 157, 0);
    transform: scale(1.05);
}

.footer
{
    grid-row: 3 / 4;
    background-color: rgb(26, 18, 10);
    min-height: 30px;
    max-height: 5vh;
    height: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
footer, a
{
    color: white;
}

a
{
    font-weight: bold;
    color: rgb(255, 196, 0);
}

a:hover
{
    color: rgb(255, 244, 91);
}


